.container
{
    display: flex;
    flex-direction: column;
    height: 88vh;
}

.contents
{
    display: flex;
    flex-direction: row;
}

.compiler
{
    width: 100%;
    display: flex;
    flex-direction: row
}

.aligner
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.innerContent
{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 3rem;
}