.vscode-sidebar {
    width: 2.25%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #171920;
    align-items: center;
    padding: 10px;
  }
  
  .sidebar-top {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .sidebar-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .sidebar-btn {
    display: flex;
    background-color: #171920;
    color: #888d94;
    font-size: 14px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
  }
  
  .sidebar-btn:hover {
    background-color: #2a2c36;
  }

  .files {
    width: 30px;
    height: 30px;
  }

  .gitLogo {
    width: 20px;
    height: 20px;
  }

.sidebar-divider {
  width: 100%;
  height: 1px;
  background-color: #888d94;
  margin: 10px 0;
} 

  